---

const titulo = "Gimansio de sistema de Control - Inicia Sesión";
---

<!DOCTYPE html>

</html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{titulo}</title>
	</head>
	<body>
		<h1>{titulo}</h1>
		<form>
		<legend> Iniciar Sesión
		<label  form="text">Correo Electronico</label>
		<input type="text" name="email" id="email" placeholder="Ingresar Correo Electronido" required>
		</legend>
		</form>
	</body>
</html>